/*font-family: 'Lato', sans-serif;*/
/*
Colors
// primary: #2ecc71
// prinmary light: #87d37c
// primary dark: #26a65b

// Grey light 1: #faf9f9
// Grey light 2: #f4f2f2
// Grey light 3: #f0eeee
// Grey light 4: #ccc

// Grey dark 1: #333
// Grey dark 2: #777
// Grey dark 3: #999

/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
- Primary: #e67e22

- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:

- Greys
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
Default: 9px
Medium: 11px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


:root {
  --color-primary: #e67e22;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265b;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  --gradient-green-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-pink-primary: linear-gradient(to top left, #ba265b, #ff3366);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

body{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 8rem;
  margin: 0 auto;
  /* background-color: #fdf2e9; */
}


.login-page {
  width: 360px;
  padding: 6rem 0 0;
  margin: auto;
  
}

.login-page .form .login{
  margin-top: 0px;
  margin-bottom: 26px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.sign-in {
  margin-bottom: 1rem;
  font-weight: 800;
}

input{
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor :pointer
}

.btn:link, .btn:visited {
  color: #ffff;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  background-color: var(--color-primary);
  border-radius: .5rem;
  border: none;
  cursor: pointer;

 transition: all 1s;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f
}

.space {
  margin-right: 20px;
}

/************Header***********/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin-bottom: 60px;
}

.logo {
  font-size: 3rem;
  font-weight: 400;
  color: var(--color-primary);
  font-family: 'Pacifico', cursive;
}

.main-nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color:var(--color-grey-dark-1)
}

.main-nav-link:hover{
  font-weight: 800;
}

a {
  text-decoration: none;
}

/* Home page main section*/

.section-main {
  padding : 2.6rem 0;
  height: 60vh;
}

.main {
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 3.5rem;
  line-height: 1.05;
  font-weight: 300;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}

.main-description {
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.main-img {
  margin-left: 2rem;
  display:block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Head section home */

.head {
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: 400px;
}


/*  POSTCARD */

.postcard-container {
  width: 750px;
  height: 100px;
  margin: 10px auto;
  padding-top:10px;
  background-color: #064635;
}

.post-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-card__img {
 width: 250px;
 padding: 0 20px;
}

.post-card__img-con {
  width: 100%;
  border-radius: 25px;
}

.post-card__content {
  color: #ffff;
}


/* POSTS */

.blog-container {
  display: flex;
  justify-content: space-between;
  width: 310px;
}

.blog-posts {
  margin-right: 20px;
  
}


/* General classes */

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */ 

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #e67e22; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* fish section */

.section-fish {
  padding: 4rem 0;
}

.subheading {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  justify-content: center;
  align-items: center;
}

.heading-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-fish {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.fish:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.fish-content {
  padding: 3.2rem 2.8rem 4.8rem 2.8rem;
}

.fish-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.fish-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.fish-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fish-attribute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.fish-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.fish-img {
  width: 100%;
}



.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 0.6rem 1.6rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/* Footer */

.brand-icon{
  color: var(--color-primary);
  letter-spacing: .3rem;
  font-family: 'Pacifico', cursive;
  margin-bottom: 1.6rem;
}

.footer-icon {
  font-size: 1.6rem;
  padding-right: 1rem
}

.footer{
  margin-bottom: 3.2rem;
}

.footer-icons{
  display: flex
}
